body{
    font-family: 'Noticia Text', serif;
    background-color: #eae5e5
}
.navbar{
width:100%;
padding-left: 10%;
background-color: #e6dcdc;
}
.btn_menu {
    background-color: #4D4D4D;
}
.redes{
    text-align: right;
    font-size: 30px;  
    padding: 0 20% 0 50%;
}
.rede_social_nav{
    margin-right: 20px;
    color: #4D4D4D;
}
.imgbio{
    width: 350px;
    margin-top: 70px;
    margin-left: 5%;
    padding-bottom: 25px;
}
.nome{
    font-size: 65px; 
    font-weight: 700;
    margin-top: 44px;
    margin-right: 50px;
    margin-left: 13px;
}
.sobrenome{
margin-bottom: 20px;
margin-left: 13px;
}
.titulobio{
    color: #4D4D4D;
 }
 .titulo_linha{
    padding-top: 25px;
    padding-bottom: 35px;
    width:100%;
    text-align: center;
    font-size: 30px;
    color: #736e6e;  
 }
 .container_projetos{
    padding-top: 20px;
    background-color: #e6dcdc;  
 }
 .footer{
    background-color: #e6dcdc;
    text-align: center;
    color: #736e6e;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}